xml_soluciones/ejercicio1.1/ejercicio1.dtd

<?xml version="1.0" encoding="UTF-8"?>

<!ELEMENT libro (titulo, autor, seccion+)>
 
<!ELEMENT titulo (#PCDATA)>
 
<!ELEMENT autor (#PCDATA)>
 
<!ELEMENT seccion (nombre, contenido?)>
 
<!ELEMENT nombre (#PCDATA)>
 
<!ELEMENT contenido (texto | seccion+)>
 
<!ELEMENT texto (#PCDATA)>

